* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}
nav {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}
.navbar-container {
  width: 1170px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 20px;
}

.left-logo img {
  width: 150px;
}
.right-navbar {
  display: flex;
}
.right-navbar li {
  list-style-type: none;
  margin-right: 35px;
  margin-top: 10px;
}
.right-navbar li a {
  text-decoration: none;
  color: #7a7c82;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;
}
.right-navbar li a span {
  position: absolute;
  transform: translateY(30%);
}
.right-navbar li a:hover {
  color: #ff5800;
}
.right-navbar li .fixed {
  color: #ff5800;
}

/* Home sub menubar css start */

.home-sub-menubar {
  background: #ffffff;
  position: absolute;
  left: 0;
  width: 180px;
  transform: translateX(-70%);
  text-align: left;
  border-radius: 3px;
  top: 100px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;
  border: 1.6px solid #e7e7e7;
}
.home-submenu-parent {
  position: relative;
}
.home-sub-menubar li {
  list-style-type: none;
  width: 100%;
  transition: all 0s ease;
  display: inline-block;
}
.home-sub-menubar li a {
  text-decoration: none;
  color: #7a7c82;
  font-size: 13px;
  width: 100%;
  display: block;
  transition: all 0s ease;
  padding: 5px 15px;
}

.home-sub-menubar li:hover {
  background-color: #ff5800;
  color: #f8f8f8;
}
.home-sub-menubar li a:hover {
  color: #f8f8f8;
}
.home-submenu-parent:hover .home-sub-menubar {
  opacity: 10;
  visibility: visible;
  top: 48px;
}
.home-sub-menubar .sub-1 a {
  color: #ff5800 !important;
  font-size: 15px !important;
}
.home-sub-menubar .sub-2 a {
  background-color: #ff5800 !important;
  color: #f8f8f8;
}
.home-sub-menubar .sub-3 a {
  color: #ff5800 !important;
  font-size: 15px !important;
}
.home-sub-menubar .sub-1:hover {
  background-color: #ffffff;
}
.home-sub-menubar .sub-2:hover {
  background-color: #ffffff;
}
.home-sub-menubar .sub-3:hover {
  background-color: #ffffff;
}
/* home sub menubar css end */

/* pages sub menubar css start */

.pages-sub-menubar {
  background: #ffffff;
  position: absolute;
  left: 0;
  width: 180px;
  transform: translateX(-70%);
  text-align: left;
  border-radius: 3px;
  top: 100px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;
  border: 1.6px solid #e7e7e7;
}

.pages-sub-parent {
  position: relative;
}
.pages-sub-menubar li {
  list-style-type: none;
  width: 100%;
  transition: all 0s ease;
  display: inline-block;
}
.pages-sub-menubar li a {
  text-decoration: none;
  color: #7a7c82;
  font-size: 13px;
  width: 100%;
  display: block;
  transition: all 0s ease;
  padding: 5px 15px;
}
.pages-sub-parent:hover .pages-sub-menubar {
  opacity: 10;
  visibility: visible;
  top: 48px;
}
.pages-sub-menubar .sub-4 a {
  color: #ff5800 !important;
  font-size: 15px !important;
}
.pages-sub-menubar .sub-5 a {
  color: #ff5800 !important;
  font-size: 15px !important;
}
.pages-sub-menubar .sub-4:hover {
  background-color: #ffffff;
}
.pages-sub-menubar .sub-5:hover {
  background-color: #ffffff;
}
.pages-sub-menubar li:hover {
  background-color: #ff5800;
  color: #f8f8f8;
}
.pages-sub-menubar li a:hover {
  color: #f8f8f8;
}
.pages-sub-menubar hr {
  color: red;
}
.pages-sub-menubar .sub-5 {
  border-top: 1px solid #e7e7e7;
}

/* pages sub menubar css end */

/* Layout sub menubar css start */

.layout-sub-menubar {
  background: #ffffff;
  position: absolute;
  left: 0;
  width: 180px;
  transform: translateX(-40%);
  text-align: left;
  border-radius: 3px;
  top: 100px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;
  border: 1.6px solid #e7e7e7;
}
.layout-sub-parent {
	position: relative;
}
.layout-sub-menubar li {
	list-style-type: none;
	width: 100%;
	transition: all 0s ease;
	display: inline-block;
  }
  .layout-sub-menubar li a {
	text-decoration: none;
	color: #7a7c82;
	font-size: 13px;
	width: 100%;
	display: block;
	transition: all 0s ease;
	padding: 5px 15px;
  }
  .layout-sub-parent:hover .layout-sub-menubar {
	opacity: 10;
	visibility: visible;
	top: 48px;
  }
  .layout-sub-menubar li:hover {
	background-color: #ff5800;
	color: #f8f8f8;
  }
  .layout-sub-menubar li a:hover {
	color: #f8f8f8;
  }
  .layout-sub-menubar .sub-6:hover {
	background-color: #ffffff;
  }
  .layout-sub-menubar .sub-6 a {
	color: #ff5800 !important;
	font-size: 15px !important;
  }
/* Layout sub menubar css end */

/* blog-sub-menubar-css-start  */
.blog-sub-menubar {
	background: #ffffff;
	position: absolute;
	left: 0;
	width: 180px;
	transform: translateX(-75%);
	text-align: left;
	border-radius: 3px;
	top: 100px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.6s ease;
	border: 1.6px solid #e7e7e7;
  }
  .blog-sub-parent {
	position: relative;
}
.blog-sub-menubar li {
	list-style-type: none;
	width: 100%;
	transition: all 0s ease;
	display: inline-block;
  }
  .blog-sub-menubar li a {
	text-decoration: none;
	color: #7a7c82;
	font-size: 13px;
	width: 100%;
	display: block;
	transition: all 0s ease;
	padding: 5px 15px;
  }
  .blog-sub-parent:hover .blog-sub-menubar {
	opacity: 10;
	visibility: visible;
	top: 48px;
  }
  .blog-sub-menubar li:hover {
	background-color: #ff5800;
	color: #f8f8f8;
  }
  .blog-sub-menubar li a:hover {
	color: #f8f8f8;
  }
  .blog-sub-menubar .sub-7 a {
	color: #ff5800 !important;
	font-size: 15px !important;
  }
  .blog-sub-menubar .sub-8 a {
	color: #ff5800 !important;
	font-size: 15px !important;
  }
  .blog-sub-menubar .sub-8:hover {
	background-color: #ffffff;
  }
  .blog-sub-menubar .sub-7:hover {
	background-color: #ffffff;
  }
  .blog-sub-menubar .sub-8{
	border-top: 1px solid #e7e7e7;
  }


/* blog-sub-menubar-css-end  */

/* header section css start */
.hero-header{
  background-image: url(image/header-bg.jpg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 height: 650px;
}
.container{
  width: 1170px;
  margin: auto;
}
.writing-part{
  margin-left: 100px;
  margin-top: 240px;
  text-align: center;
  display: inline-block;
 
}
.writing-part h2{
 color: #f8f8f8;
 font-size: 35px;
 font-weight: 400;
 font-style: italic;
 margin-bottom: 15px;
}
.writing-part h1{
  color: #f8f8f8;
  font-size: 65px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 900px;
  margin-bottom: 15px;
 }
 .writing-part button{
  padding: 10px 20px;
  margin-top: 25px;
  background-color: #ff5800;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
 }
 .writing-part button a{
  text-decoration: none;
  color: #f8f8f8;
  font-size: 16px;
 }
 .writing-part button:hover{
  background-color: #ff5900c9;
 }
/* header section css end */